<app-nav-view></app-nav-view>
<div class="user-profile">
  <mat-card class="usercard">
    <mat-card-header class="profile-title">
      <mat-card-title>Hello {{ userData.Username }}!</mat-card-title>
      <mat-card-subtitle>Look below to update!</mat-card-subtitle>
    </mat-card-header>

    <form class="user-edit-form">
      <mat-form-field>
        <input matInput [(ngModel)]="userData.Username" placeholder="Username" value={{userData.Username}} type="text"
          name="Username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="userData.Password" placeholder="Password" value={{userData.Password}}
          type="password" name="Password" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="userData.Email" placeholder="Email" value={{userData.Email}} type="email"
          name="Email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="userData.Birthday" value={{userData.Birthday}} type="date" placeholder="Birthday"
          name="Birthday">
      </mat-form-field>
    </form>
    <mat-card-actions class="usercard-actions">
      <button class="edit-button" mat-raised-button (click)="editUser()" color="primary">
        Update profile
      </button>
      <button class="delete-button" mat-raised-button (click)="deleteUser()" color="warn">
        Delete profile
      </button>
    </mat-card-actions>
  </mat-card>
</div>